@font-face {
  font-family: BlocksFont;
  src: url(../assets/font/Anta-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../assets/img/background-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.okvir {
  width: 100%;
}

#home {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  font-size: 1.1rem;
  border-radius: 50%;
  border: none;
  margin-top: 7px;
  margin-left: 1rem;
  cursor: pointer;
}
#home .home-tooltiptext {
  visibility: hidden;
  font-family: BlocksFont;
  font-size: 0.6rem;
  width: 50px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  left: 7px;
  top: 2.7rem;
  z-index: 1;
}
#home:hover .home-tooltiptext {
  visibility: visible;
}
#level {
  margin-left: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: BlocksFont;
  color: white;
  display: inline-block;
}
.wrapper {
  width: 80%;
  height: auto;
  margin: 0.5% auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  max-width: 1400px;
}
.kartica {
  width: 15rem;
  height: 10.5rem;
  background-color: white;
  margin: 2%;
  background-image: url(../assets/img/bricks.jpg);
  background-size: cover;
  cursor: pointer;
  display: inline-block;
  transition: all 0.2s ease;
}
.poruka {
  position: absolute;
  z-index: 1;
  font-family: BlocksFont;
  top: 30%;
  left: 40%;
  width: 100%;
}
.porukaWrap {
  background: linear-gradient(to bottom, #485460, #1e272e);
  width: 25rem;
  position: fixed;
}
.naslovPoruka {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}
.dugmici {
  padding-top: 35px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.warning {
  position: fixed;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-family: BlocksFont;
}
.warning h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.warning button {
  width: 100px;
  margin-right: 1rem;
  padding: 2px;
  transition: color, background-color 0.5s;
}

.warning button:hover {
  color: white;
  background-color: black;
}
.vreme {
  display: inline-block;
  font-family: BlocksFont;
  color: white;
  margin-left: 2rem;
  font-size: 1rem;
}
.notification {
  position: fixed;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-family: BlocksFont;
}
.notification h3 {
  text-transform: uppercase;
}
#restart {
  padding: 5px;
  transition: color, background-color 0.5s;
}
#restart:hover {
  background-color: black;
  color: white;
  padding: 5px;
}
.crveno {
  color: red;
  font-weight: bolder;
}
.backDrop {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 425px) {
  #home {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.8rem;
    margin-top: 0;
  }
  .home-tooltiptext {
    display: none;
  }
  #level {
    font-size: 0.9rem;
    display: flex;
    margin-bottom: 0;
  }
  .okvir {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1rem 0;
  }
  .vreme {
    font-size: 0.9rem;
    margin-bottom: 0;
  }
  .kartica {
    width: 6rem;
    height: 4.5rem;
  }
  .notification,
  .warning,
  .porukaWrap {
    top: 50%;
    text-align: center;
    width: 15rem;
    padding: 0.5rem;
  }
  .notification h3,
  .warning h3 {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
  }
  .notification p,
  .warning p {
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
  }
  #restart,
  .warning button {
    font-size: 0.7rem;
    padding: 0;
    width: 5rem;
    margin-right: 4px;
  }
  .porukaWrap {
    width: 15rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .dugmici {
    padding: 10px;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  #home {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1rem;
    margin-top: 0;
  }
  .home-tooltiptext {
    display: none;
  }
  #level {
    font-size: 1.1rem;
    display: flex;
    margin-bottom: 0;
  }
  .okvir {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1rem 0;
  }
  .vreme {
    font-size: 0.8rem;
    margin-bottom: 0;
  }
  .kartica {
    width: 6.5rem;
    height: 4.6rem;
  }
  .notification,
  .warning {
    top: 50%;
    text-align: center;
    width: 17rem;
    padding: 0.5rem;
  }
  .notification h3,
  .warning h3 {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
  }
  .notification p,
  .warning p {
    font-size: 0.7rem;
    margin-bottom: 1rem;
  }
  #restart,
  .warning button {
    font-size: 0.7rem;
    padding: 0;
    width: 5rem;
    margin-right: 4px;
  }
  .porukaWrap {
    left: 15%;
    top: 40%;
    width: 18rem;
  }
  .dugmici {
    padding: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .kartica {
    width: 9rem;
    height: 6.6rem;
  }
  .porukaWrap {
    left: 30%;
    top: 40%;
    width: 18rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  #home {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
  }
  #level {
    font-size: 1rem;
    margin-left: 1rem;
  }
  .vreme {
    font-size: 1rem;
  }
  .kartica {
    width: 14rem;
    height: 10rem;
  }
  .notification h3 {
    font-weight: bold;
  }
  .porukaWrap {
    left: 37%;
    top: 38%;
  }
}

@media screen and (min-width: 1440px) {
  #home {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
  }
  #level {
    font-size: 1.5rem;
    margin-left: 2rem;
  }
  .vreme {
    font-size: 1.5rem;
  }
  .kartica {
    width: 15rem;
    height: 11rem;
  }
}
